<div class="hero">
  <br />
  <div class="frosty col-10 offset-1 text-center">
    <br />
    <h1>Learn to Perform</h1>
    <br />
    <h2>I am an all around artist</h2>
    <br />
    <%= link_to 'Learn More', courses_path, class: 'btn btn-success' %>
    <br /> <br />
  </div>
</div> 

<br />

<div class="row feature text-center">
  <div class="col-12 col-sm">
    <h3>Fantastic Interactive Courses</h3>
    <br />
    <p>Choose from a number of great instructors</p>
  </div>

  <div class="col-12 col-sm">
    <h3>All levels of expertise</h3>
    <br/>
    <p>We have a class for you</p>
  </div>

  <div class="col-12 col-sm">
    <h3>Join our community</h3>
    <br />
    <p>Network and connect with your future</p>
  </div>
</div>